<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Club genie numerique | Membre</title>
</head>
<body>

    <header>
        <span>CLUB DES GENIE NUMERIQUE</span>
        <span>ADMINISTRATION</span>
    </header>
    <div class="container" id="container">
        <div class="admin">
            <div class="row" id="row">
                <div class="profile" id="profile">
                    <img src="" id="image" class="image" alt="" srcset="">
                    <span id="info">nom, filiere</span>
                </div>
            </div>
            <div class="row">
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
            </div>
            <div class="row">
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
            </div>
        </div>
        <span class="texte"><h1>MEMBERS</h1></span>
        <div class="membre">
            
            <div class="row">
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
                <div class="profile">
                    <button type="button"></button>
                    <span>nom , filiere</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
            <div class="profile">
                <button type="button"></button>
                <span>nom , filiere</span>
            </div>
        </div>
    </div>
    </div>
    <script type="module"  defer src="/js/index.js"></script>
</body>
</html>