<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>GenieNumeric | registre</title>
</head>
<body>

<form action="/reg" method="post" enctype="multipart/form-data">
    
    <label for="nom">nom</label>
    <input type="text" name="nom" id="" required>
    <label for="prenom">prenom</label>
    <input type="text" name="prenom" id="" required>
    <label for="email">email</label>
    <input type="email" name="email" id="" required>
    <label for="lienGithub">lienGithub</label>
    <input type="url" name="lienGithub" id="" required>
    <label for="lienLInkin">lienLInkin</label>
    <input type="url" name="lienLinkin" id="" required>
    <label for="formation">formation</label>
    <input type="text" name="formation" id="" required>   
    <label for="proffetion">proffetion</label>
    <input type="text" name="proffetion" id="" required>
    <label for="profile">profile</label>
    <input type="file" name="profile" id="">

    <button type="submit">Valider</button>
</form>
</body>
</html>